{% extends "basic.html" %}
{% block message %} {% endblock %}
{% block main %}

<center><h2> The BackPacman Team </h2><br>
    Как-то так получилось, что субботние кодеры — вымирающий вид.<br>
    Возможно, нам просто не повезло, мы остались втроём:
    <br><br>
    <dl>
        <dt><b>Юрий Евгеньевич Савинкин</b></dt>
        <dd>Куратор. Тестировщик.<br>
            Милый человек,
            ведущий трансляции по субботам.
        </dd>
        <br>
        <dt title="{{ dialog }}">Максим Сергеевич Бабышев</dt>
        <dd>Автор сего текста.<br>Разработчик архитектуры пакмана,<br>
            тестировщик и просто программист.<br>
            18-летний студент РТУ МИРЭА.<br>
            Перфекционист, заинтересованный в удобстве приложений (UX).
        </dd>
        <br>
        <dt>Маргарита Владимировна Попова</dt>
        <dd>Разработчик БД, логики, дизайна и функционала этого сайта.<br>
            Также ответственна за анимацию и дизайн в пакмане. <br>
            Специалист по романо-германской филологии. Редактор текстов на сайте телеканала.
        </dd>
    </dl>
    <br>... А возможно, нам повезло больше, чем остальным,<br>
    ведь мы работали за семерых, а обсуждали всё в тёплой,<br>
    ламповой обстановке.
</center>

{% endblock %}