{% extends "basic.html" %}

{% block main %}

<h3>Редактировать профиль</h3>

<form method="POST">
    {% csrf_token %}
    <div class="card mb-5 bg-light">
        <div class="card-body">
            {% for field in form %}
                    <div class="col-xs-12">
                        <strong>{{ field.label_tag }}</strong><br>
                        {{ field }}
                        {% if field.help_text %}
                        <br><small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
            <p><a href="/password/">Изменить пароль</a></p>
        </div>

        <div class="card-footer">
            <input type="submit" class="btn btn-secondary float-right" value="Сохранить">
        </div>
    </div>
</form>
{% endblock %}