html { height: 100%; }
body {
  font-family: 'Nunito', sans-serif;
  min-height:100%;
  position:relative;
  padding-bottom: 60px;
  background-image: url("./images/img.png");
}
.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
}
.card-header:hover {
    cursor: pointer;
    background-color: #e1e5ea;
}
dt {
    font-family: 'PT Sans', sans-serif
}


