    <form method="{% block method %}{{ method|default:'POST' }}{% endblock %}"
 action="{% block action %}{{ action|default:'/' }}{% endblock %}">
    <div class="card bg-light">
        <div class="card-body">

            {% csrf_token %}
            {% block before %}{% endblock %}
            {% block main %}{% endblock %}
        </div>
        {% block after %}
        {% if not hide_submit %}
        <input type="submit" value="Голосовать">
        {% endif %}
        {% endblock %}
    </div>
    {{ result }}
    </form>
