{% extends './basic.html' %}

{% block main %}
{% if voting.type == 'text_input' %}
<p><label {% if user.id in voting.users %}title="(Ответили: {{ voting.users|length }})" {% endif %}>
    <input type="text" class="w-100"
           {% if user.id in voting.users %}disabled{% endif %}
           name="answer" placeholder="Ваш ответ"></label>

    {% else %}
<div class="container-fluid">
    {% for option in voting.options %}
    <div class="row">
        <div class="col">
            <label {% if user.id in voting.users %}title="{{ option.get_votes_count_t }}" {% endif %}>

                {% if user.id not in voting.users %}
                <input type="{{ voting.type }}"
                       name="{% if voting.type == 'radio' %}{{ voting.id }}{% else %}{{ option.id }}{% endif %}"
                       value="{% if user.id in option.users %}<u>{{option.option}}</u>{% else %}{{option.option}}{% endif %}"
                >{% if user.id in option.users %}<u>{{option.option}}</u>{% else %}{{option.option}}{% endif %}
                {% else %}
                {{ option.option }}
                {% endif %}
            </label>
        </div>
        {% if user.id in voting.users %}
        <div class="col-md-6 float-right">
            <div class="progress"
                 title="{{ option.get_votes_count_t }}">
                <div class="progress-bar text-light"
                     role="progressbar"
                     style="width: {{ option.get_votes_percentage }}%;"
                     aria-valuenow="{{ option.get_votes_percentage }}"
                     aria-valuemin="0"
                     aria-valuemax="100">{{ option.get_votes_percentage }}%
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% empty %}
    {{ onempty_message|default:"Пустое голосование" }}
    {% endfor %}
</div>
{% endif %}
{% endblock %}
{% block after %}
<div class="card-footer">

    {% if user.id not in voting.users %}
    <input type="submit" class="btn btn-secondary btn-sm mt-1" value="Голосовать">
    {% endif %}
    {% if user.id == voting.author_id %}
    <input type="submit" class="btn btn-outline-success btn-sm mr-1 mt-1" name="edit" value="Редактировать">
    <input type="submit" class="btn btn-outline-danger btn-sm mt-1" name="delete" value="Удалить">
    {% endif %}
</div>
{% endblock %}
